.container-fluid {
    padding-top: 1vh;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family: 'Source Sans Pro', serif;
    font-size: 20px;
}

.intro-p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 19px;
}

.title {
    background-color: lightblue;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.table-title {
    margin-left: 1vw;
}

.t-1 {
    font-size: 25px;
    margin-left: 10vw;
    font-weight: bold;
}

.intro-left, .intro-right {
    padding-left: 1vw;
    padding-right: 1vw;
}

.week-title h2 {
    width: 80vw;
}

.t-2 {
    font-size: 50px;
    font-family: Monaco;
    margin-left: 10vw;
    font-weight: bold;
}

.bits {
    font-family: Monaco;
}

.intro {
    margin-top: 2vh;
    margin-left: 1vw;
}

p {
    font-size: 20px;
}

.table {
    width: 75%;
    font-size: 17px;
}

.table td {
    width: 80%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.table th {
    font-family: Monaco;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.card {
    width: 60vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.week-title {
    background-color: #EFE0F7;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0px 3px 0px 5px;
}

.card-title {
    font-size: 23px;
    font-weight: bold;
}

.click-row:hover {
    background-color: whitesmoke;
    text-decoration: underline;
}

.back {
    position: absolute;
    right: 1vw;
    margin-top: 1vh;
}

.table-comment {
    font-size: 15px;
    font-style: italic;
    color: dimgrey;
    margin: 0;
}

.navigation {
    position: absolute;
    right: 7vw;
    font-size: 23px;
    text-decoration: underline;
    color: midnightblue;
    margin-top: 0;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 28%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}